h2 {
  color: #ff004f;
}

.typewriter {
  color: #7b66ff;
}

.heading {
  color: #ff004f;
}
nav ul li a {
  margin: 0;
  padding: 0;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}

.btn {
  border-color: #ff004f;
  color: #ff004f;
}
.btn:hover {
  background-color: #ff004f;
  color: whitesmoke;
}
 .custom {
  margin-top: 6rem;
  margin-right: 10rem;
  margin-left: 5rem;
} 

.skill {
  width: 10rem;
}
.img {
  width: 30rem;
  height: 26rem;
  margin-left: 9rem;
}
.details{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
form{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}


@media only screen and (min-width: 200px) and (max-width: 600px) {
  .skill {
    width: 5rem;
  }
  .img {
    width: 16rem;
    height: 16rem;
    margin-left: 2rem;
  }
  .custom{
    margin-left:1rem;
    margin-left:0rem;
    margin-top:2rem;
  }
  .details{
    margin-bottom: 0rem;
  }
  form{
    margin-top: 2rem;
  }
  
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .img {
    width: 20rem;
    height: 20rem;
    margin-left: 2rem;
  }
}


@media only screen and (min-width: 200px) and (max-width: 500px) {
  .project {
    width: 19rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1400px) {
  .details{
    margin-left: 0rem;
  }
  
}
@media only screen and (min-width: 800px) {
  form {
    width: 23rem;
  }
}
@media only screen and (min-width: 1000px) {
  form {
    width: 50rem;
  }
}
